services:
  # PostgreSQL Database
  postgres:
    image: postgres:18-alpine
    container_name: tasktracker-postgres
    environment:
      POSTGRES_DB: tasktracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tasktracker-network


  # Backend Service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tasktracker-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/tasktracker
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      # SPRING_REDIS_HOST: redis
      # SPRING_REDIS_PORT: 6379
    depends_on:
      - postgres
      # - redis
    networks:
      - tasktracker-network

  # Frontend Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: tasktracker-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - tasktracker-network

volumes:
  postgres_data:
  pgadmin_data:
  redis_data:

networks:
  tasktracker-network:
    driver: bridge